<h2>This is the form for user <%= @title %></h2>

<form action="/">
  First name:<br>
  <input type="text" name="firstname" value="<%=@firstname%>">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="<%=@lastname%>">
  <br>
  Age:<br>
  <input type="text" name="age" value="<%=@age%>">
  <br>
  Email:<br>
  <input type="text" name="email" value="<%=@email%>">
  <br><br>
  <input type="submit" value="Submit">
</form>
